<script src="~/Scripts/app/employee/employee.js"></script>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="span6">
            <h2 class="well">Employee Information</h2>
                    <div class="input-prepend">
                        <span class="add-on">Id</span>
                        <input readonly data-bind="value: $root.id" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">LoginId</span>
                        <input readonly data-bind="value: $root.loginId" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">RosterId</span>
                        <input readonly data-bind="value: $root.rosterId" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">IsLocal</span>
                        <input readonly data-bind="value: $root.isLocal" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">Current</span>
                        <input readonly data-bind="value: $root.current" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">Title</span>
                        <input readonly data-bind="value: $root.employeeTitleDesc" />
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">Type</span>
                        <input readonly data-bind="value: $root.employeeTypeDesc" />
                    </div>
        </div>
        <div class="span6">
            <h2 class="well">Personal Information</h2>
            <div class="input-prepend">
                <span class="add-on">Id</span>
                <input readonly data-bind="value: $root.personId" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">FirstName</span>
                <input readonly data-bind="value: $root.firstName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">LastName</span>
                <input readonly data-bind="value: $root.lastName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">MiddleName</span>
                <input readonly data-bind="value: $root.middleName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">DOB</span>
                <input readonly data-bind="value: $root.dateOfBirth" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">GenderId</span>
                <input readonly data-bind="value: $root.genderId" />
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="span12">
            <h2 class="well">Schedule Information</h2>
        </div>
    </div>

</div>
