<script src="~/Scripts/app/employee/employee.js"></script>
<br />
<br />
<div class="container">

    <div class="row">
        <div class="span6">
            <h2 class="well">Employee Information</h2>
            <ul>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.titleId"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.employeeTypeId"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.rosterId"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.isLocal"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.current"></span>
                </li>
            </ul>
        </div>
        <div class="span6">
            <h2 class="well">Personal Information</h2>
            <ul>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.person.FirstName"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.person.LastName"></span>
                </li>
                <li>
                    <span data-bind="text: employeeNS.employeeViewModel.person.DateOfBirth"></span>
                </li>
            </ul>
        </div>
    </div>
</div>